.page {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  background-color: darkcyan
}

button {
  border-radius: 90px; 
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: darkslategrey;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover.delete{
  background-color: red;
}

button:hover {
  background-color: gray;
}

button:active {
  transform: scale(0.97);
}


.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
}

form {
  background: darkslategrey;
  padding: 1.5rem;
  border-radius: 8px;
  gap: 1.5rem;
}

ul {
  padding: 0;
  list-style: none;
}


input,
select {
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid;
  font-size: 1rem;
  gap: 1.5rem;
}

input:focus,
select:focus {
  outline: none;
}
